
body{margin:0px; padding:0px; font-family:  '宋体','Arial, Helvetica, sans-serif';}
*{font-size:12px;}


a,a:hover{color: #333333; text-decoration: none;}
.a1,.a1:hover{color: #333333; text-decoration: none;}
.a_w,.a_w:hover{color: #333333; text-decoration:none; cursor:hand;}

.top{margin-top:10px; margin-left:20px;}

.z_red{color:#ff0000;padding-right:10px;}
.z_red:link{color: #FF0000;}
.z_red:hover{color: #FF0000;}
.z_gray{color: #999999;}
.z_lc{font-size:14px; font-weight:bold; color:#003399;}
.z_da{font-size:20px; font-weight:bold; color: #666666; font-family: '宋体';}
.z_dared{font-size:20px; font-weight:bold; color: #FF0000; font-family:Arial, Helvetica, sans-serif;}
.z_c{ font-size:14px; font-weight:bold; color:#FFFFFF;}

#ht{margin:0px; background-image:url(/site_media/images/left_4.gif); background-repeat:no-repeat; height:23px; line-height:22px; text-indent:20px; margin-bottom:10px}
	#ht td{color: #FFFFFF; font-weight:bold; font-size:13px; cursor:hand;}
	

#zhen{border:1px #ccc solid; margin-right:5px; background-color:#f1f1f1;}

#zhen_a{border:1px #316AC4 solid; color:#ffffff; background-color:#316AC4; margin-right:5px;}

.shengh{border:1px #ccc solid; background-color:#f1f1f1; line-height:150%; text-align:left; }


/*left*/

#yj_left{ background:url(/site_media/images/left_1.gif) no-repeat; height:8px; line-height:0px;}
#yj_left2{ background:url(/site_media/images/left_2.gif) no-repeat; width:23px;line-height:0px;}
#yj_left5{ background:url(/site_media/images/left_5.gif) no-repeat; height:8px;line-height:0px;}
#yj_left6{ background:url(/site_media/images/left_6.gif) no-repeat; width:23px;line-height:0px;}
#di{ background:url(/site_media/images/left_7.gif); background-repeat:no-repeat; height:23px; line-height:23px; text-indent:2px; margin-bottom:10px;}
.line_bottom{ background:url(/site_media/images/left_bottom_center.gif) repeat-x; line-height:0;}
.line_top{ background:url(/site_media/images/left_top_center.gif) repeat-x; line-height:0;}

/*top*/

#top_zy{ margin-left:8px; margin-right:8px;}
#top_bg{ background-image: url(/site_media/images/bg_1.gif); height:97px;}

/*right*/

.tag{background-image: url(/site_media/images/tag.gif); width:64px; height:26px; line-height:26px; font-size:12px; text-align:center;  }
.now{background-image: url(/site_media/images/now.gif); width:64px; height:26px; line-height:26px; font-size:12px; text-align:center;}
.xian{ background-image:url(/site_media/images/bg_2.gif); height:3px; line-height:0px; font-size:0px;clear:both;margin:0px;}


#nav11 {
	height:22px; width:300px; margin-top:10px; margin-bottom:5px; padding:0px; line-height:22px;
}
#nav11 ul{
	line-height:22px; height:22px; float:left; margin:0px; padding:0px;
}
#nav11 ul li{ float:left; padding:0 3px;}
#nav11 li a {
	font-family: 宋体;
	font-size: 12px;
	height:22px;
	line-height: 22px;
	width: 25px;
	display:block;
	text-align:left;
	color:#0000FF; 
	text-decoration:underline;
}



#nav {
	height:22px; width:300px; margin-top:10px; margin-bottom:3px; padding:0px; line-height:22px; 
}
#nav ul{
	float: right; line-height:22px; height:22px; margin:0px; padding:0px;
}
#nav ul li{ float:left;}
#nav li a {
	font-family: 宋体;
	font-size: 12px;
	height:22px;
	line-height: 22px;
	width: 25px;
	display:block;
	text-align:center;
}

#nav li a.bar {
	background-image: url(/site_media/images/icon_22.gif)
}

#nav li a.line {
	background-image: url(/site_media/images/icon_33.gif)
}

#nav li a#icon4 {
	background-image: url(/site_media/images/icon_44.gif)
}

#nav li a#icon6 {
	background-image: url(/site_media/images/icon_66.gif)
}

#nav li a.table { background-image:url(/site_media/images/icon_1.gif)
}

ul.select_line {
list-style-image:none;
list-style-position:outside;
list-style-type:none;
padding:0px;
margin:0px;
}

ul.select_line li {
float:left;
width:120px;
}

#day_provname_div {width: 630px;}
#day_provname_div td ul{ margin:0px; list-style: none; width:600px; padding:0px;}
#day_provname_div td ul li{float:left; width:120px;
}

#week_provname_div {width: 630px;}
#week_provname_div td ul{ margin:0px; list-style: none; width:600px; padding:0px;}
#week_provname_div td ul li{float:left; width:120px;
}

#week_provname_div {width: 630px;}
#month_provname_div td ul{ margin:0px; list-style: none; width:600px; padding:0px;}
#month_provname_div td ul li{float:left; width:120px;
}

#day_cityname_div {width: 550px;height:315px;border: 0px;}
#day_cityname_div td ul{ margin:0px; list-style: none; width:520px; padding:0px;}
#day_cityname_div td ul li{float:left; width:90px;
}

#week_cityname_div {width: 550px;height:315px;border: 0px;}
#week_cityname_div td ul{ margin:0px; list-style: none; width:520px; padding:0px;}
#week_cityname_div td ul li{float:left; width:90px;
}

#month_cityname_div {width: 550px;height:315px;}
#month_cityname_div td ul{ margin:0px; list-style: none; width:520px; padding:0px;}
#month_cityname_div td ul li{float:left; width:90px;
}

#loginheader{ background-image:url(/site_media/images/login_1.gif);
    background-repeat:no-repeat;
	height: 56px;
	width: 585px;
	padding:0px;
	margin-top: 150px;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;}
	
#login{ background-image:url(/site_media/images/login_2.gif);
	height: 123px;
	width: 585px;
	padding:0px;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	font-size:12px; color:#000000; font-family:"宋体", "Arial Unicode MS";}
	
#login{}
	#login td{font-size:12px;}
#login input{ width:160px;;}
	
#loginfooter{background-image:url(login_4.gif);
	height: 64px;
	width: 585px;
	padding:0px;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;}

#dz2{ height:220px; overflow-y:auto;overflow-x:hidden;}
#dz2 td{ border:0px; border-bottom:1px #CCCCCC solid;  }

#login #but{ background-image:url(/site_media/images/login_3.gif); width:64px; height:51px; cursor:hand;}

#loginfooter{background-image:url(/site_media/images/login_4.gif);
	height: 64px;
	width: 585px;
	padding:0px;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;}

/* report */
div#day_search, div#month_search, div#week_search, div#smonth_search, div#sweek_search {
    float:left;
    width:73%;
}

div#day_search ul, div#month_search ul, div#week_search ul, div#smonth_search ul, div#sweek_search ul {
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
    margin:15px 0 0 0;
    padding: 0px;
    padding-top:20px
    width:65%;
}

li.query {
    display:inline;
    float:left;
    height:30px;
    padding:0;
    width:44%; 
    margin:0px;
	line-height:30px;
}

span.func_area {
    float:right;
}

span.func_area input.submit_button {
    width:58px;
}
div.container {
    clear:both;
}
.ind_line{display:none;margin-bottom:2px; padding:0 5px 27px 5px;clear:both;background-color:#edebff;width:400px;border:1px solid #C6C6C6;}
.ind_line ul{ margin:0px; padding:0px; padding-top:5px;padding-left:5px;padding-bottom:15px width:400px;}
.ind_bar{display:none;margin-bottom:2px; padding:0 5px 27px 5px;clear:both;background-color:#edebff;width:400px;border:1px solid #C6C6C6;}
.ind_bar ul{ margin:0px; padding:0px; padding-top:5px;padding-left:5px;padding-bottom:15px width:400px;}

.bar{float:right;line-height:20px;}
.line{float:right;line-height:20px;}

.explain{display:none;margin-bottom:2px; padding:5px 5px 5px 5px;clear:both;background-color:#edebff;width:99%;border:1px solid #C6C6C6;}}

.dim{ display: none; } 
.dimension{ float: right; margin:0px; padding:0 0 14px;width:190px;background-image:url(/site_media/images/wdsz1.gif); background-repeat:repeat-y;} 
.dimension ul{ margin:0px; padding:0px; padding-top:5px;  width:190px;}
.dimension ul li{line-height:20px; margin-left:5px; margin-top:0px;}
.dimension ul li a{ color:#0000FF; text-decoration:underline; cursor:hand; padding-left:3px; padding-top:3px;line-height: 30px; height: 30px}
.dimension ul li#but{ padding-left:90px;height:25px; line-height:25px;}

.hover_tr{background-color:#FFFFCF;}

.sp{
    display:-moz-inline-box; 
    display:inline-block;
    width:88px;
	height:28px;
	line-height:28px;
   }
.sp2{
    display:-moz-inline-box; 
    display:inline-block;
    width:120px;
	height:25px;
	line-height:15px;
   }

.one {background-color:#FFFFFF;}
.top1 {background-color: #E5E5E5;}
.two {background-color:#F9F9F9;}

/* $Id: example.css,v 1.5 2006/03/27 02:44:36 pat Exp $ */

/*--------------------------------------------------
  REQUIRED to hide the non-active tab content.
  But do not hide them in the print stylesheet!
  --------------------------------------------------*/
.tabberlive .tabbertabhide {
 display:none;
}

/*--------------------------------------------------
  .tabber = before the tabber interface is set up
  .tabberlive = after the tabber interface is set up
  --------------------------------------------------*/
.tabber {
}

/*--------------------------------------------------
  ul.tabbernav = the tab navigation list
  li.tabberactive = the active tab
  --------------------------------------------------*/

UL.tabbernav {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 3px; MARGIN: 0px; FONT: 12px Verdana, sans-serif; PADDING-TOP: 4px; BORDER-BOTTOM:  #C3C3C3 1px solid;
}
UL.tabbernav LI {
	DISPLAY: inline; PADDING-LEFT: 3px; MARGIN-LEFT: 3px; LIST-STYLE-TYPE: none;
}
UL.tabbernav LI A {
	BORDER-RIGHT: #C3C3C3 1px solid; PADDING-RIGHT: 16px; BORDER-TOP: #C3C3C3 1px solid; PADDING-LEFT: 16px; BACKGROUND: #ECECFF; PADDING-BOTTOM: 3px; BORDER-LEFT: #C3C3C3 1px solid; PADDING-TOP: 3px; BORDER-BOTTOM: medium none; TEXT-DECORATION: none; color:#000000;
}

UL.tabbernav LI A:hover {
	BORDER-LEFT-COLOR: #C3C3C3; BACKGROUND: #ECECFF; BORDER-BOTTOM-COLOR: #C3C3C3; BORDER-TOP-COLOR: #C3C3C3; BORDER-RIGHT-COLOR: #C3C3C3; 
}
UL.tabbernav LI.tabberactive A {
	BORDER-BOTTOM: #fff 2px solid; BACKGROUND-COLOR: #fff
}
UL.tabbernav LI.tabberactive A:hover {
	BACKGROUND: white; COLOR: #000; BORDER-BOTTOM: white 2px solid;
}
/*--------------------------------------------------
  .tabbertab = the tab content
  Add style only after the tabber interface is set up (.tabberlive)
  --------------------------------------------------*/
.tabberlive .tabbertab {
 padding:0px;
 border-top:0;

 /* If you don't want the tab size changing whenever a tab is changed
    you can set a fixed height */


 /* If you set a fix height set overflow to auto and you will get a
    scrollbar when necessary */
}

/* If desired, hide the heading since a heading is provided by the tab */
.tabberlive .tabbertab h2 {
 display:none;
}
.tabberlive .tabbertab h3 {
 display:none;
}

/* Example of using an ID to set different styles for the tabs on the page */
.tabberlive#tab1 {
}
.tabberlive#tab2 {
}
.tabberlive#tab2 .tabbertab {
 height:200px;
 overflow:auto;
}

#oneBoxPopup {
background-color:#EEEEEE;
border:1px solid #888888;
display:none;
padding:5px;
position:absolute;
z-index:2000;
display:block;
width:200px; 
}

.ddsmoothmenu {
	height:26px; FONT: 12px Verdana; WIDTH: 100%
}
.ddsmoothmenu UL {
	PADDING-RIGHT: 10px; PADDING-LEFT: 0px; Z-INDEX: 10; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none; margin-top:4px;
}
.ddsmoothmenu UL LI {
	DISPLAY: inline; FLOAT: right; POSITION: relative; width:100px; line-height:20px;
}
.ddsmoothmenu UL LI A {
	PADDING-RIGHT: 10px; DISPLAY: block; PADDING-LEFT: 0px; BACKGROUND: #813676; PADDING-BOTTOM: 0px; COLOR: #FFFFFF; PADDING-TOP: 0px; TEXT-DECORATION: none
}
 HTML .ddsmoothmenu UL LI A {
	DISPLAY: inline-block
}
.ddsmoothmenu UL LI A:link {
	COLOR: #FFFFFF
}
.ddsmoothmenu UL LI A:visited {
	COLOR: #FFFFFF;
}
.ddsmoothmenu UL LI A.selected {
	BACKGROUND: #813676; COLOR: #FFFFFF
}
.ddsmoothmenu UL LI A:hover {
	BACKGROUND: #813676; COLOR: #FFFFFF
}
.ddsmoothmenu UL LI UL {
	DISPLAY: none; LEFT: 0px; VISIBILITY: hidden; POSITION: absolute; margin-top:0px;
}
.ddsmoothmenu UL LI UL LI {
	DISPLAY: list-item; FLOAT: none;
}
.ddsmoothmenu UL LI UL LI UL {
	TOP: 15px
}
.ddsmoothmenu UL LI UL LI A {
	PADDING-RIGHT: 5px; PADDING-LEFT: 17px; PADDING-BOTTOM: 5px; MARGIN: 0px; FONT: 13px Verdana; text-align:left; WIDTH: 90px; PADDING-TOP:12px; BORDER-BOTTOM:1px #FFFFFF solid;
}
 HTML .ddsmoothmenu {
	HEIGHT: 1%
}
.downarrowclass {
	RIGHT: 7px; POSITION: absolute; TOP: 3px
}
.rightarrowclass {
	RIGHT: 5px; POSITION: absolute; TOP: 6px
}
.ddshadow {
	LEFT: 0px; WIDTH: 0px; POSITION: absolute; TOP: 0px; HEIGHT: 0px
}
.toplevelshadow {
	opacity: 0.8
}

.dimension_popup {
    position:absolute;
    display:none;
    background-color: #CCCCCC;
    border:0px #ccc solid;
    padding:0px;
    left:360px;
    top:260px;
    z-index:15;
    width: 600px;
}


#bubble_tooltip{
	width:147px;
	position:absolute;
	display:none;
}
#bubble_tooltip .bubble_top{
	background-image: url(/site_media/images/bubble_top.gif);
	background-repeat:no-repeat;
	height:16px;	
}
/* codefans.net */
#bubble_tooltip .bubble_middle{
	background-image: url(/site_media/images/bubble_middle.gif);
	background-repeat:repeat-y;	
	background-position:bottom left;
	padding-left:7px;
	padding-right:7px;
}
#bubble_tooltip .bubble_middle span{
	position:relative;
	top:-8px;
	font-family: Trebuchet MS, Lucida Sans Unicode, Arial, sans-serif;
	font-size:12px;
	padding:3px;
}
#bubble_tooltip .bubble_bottom{
	background-image: url(/site_media/images/bubble_bottom.gif);
	background-repeat:no-repeat;
	background-repeat:no-repeat;	
	height:44px;
	position:relative;
	top:-6px;
}

/* result.html */
.d1 {border-top:1px solid;border-left:1px solid;padding:2px 3px 2px 3px;border-color:#C3C3C3;}
.d2 {border-top:1px solid;border-left:1px solid;padding:2px 13px 2px 3px;border-color:#C3C3C3;background-color:#C3C3C3;background-image:url(/site_media/images/sort_d.gif);background-repeat:no-repeat;background-position:right center;}
.d3 {border-top:1px solid;border-left:1px solid;padding:2px 13px 2px 3px;border-color:#C3C3C3;background-color:#C3C3C3;background-image:url(/site_media/images/sort_u.gif);background-repeat:no-repeat;background-position:right center;}
.sortable {border-right:1px solid;border-bottom:1px solid;border-color:#C3C3C3;}
.pagination {float:right;padding-bottom:5px;padding-top:5px;}
.pagination a{color:blue;}
.current {padding-left:5px;padding-right:5px;}
