<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<head><title>报表平台域名变更</title>   
<script language='javascript' type='text/javascript'>   
var secs =10; //倒计时的秒数   
var URL ;   
function Load(url){   
URL =url;   
for(var i=secs;i>=0;i--)   
{   
window.setTimeout('doUpdate(' + i + ')', (secs-i) * 1000);   
}   
}   
function doUpdate(num)   
{   
document.getElementById('ShowDiv').innerHTML = '将在'+num+'秒后自动跳转到新网页 ...' ;   
if(num == 0) { window.location=URL; }   
}   
</script>   
</head>   
<body>    
<div align=center><font color="red">报表平台于9月27日切换到新域名：https://report.umessage.com.cn</font><p><div id="ShowDiv"></div><p>如果浏览器没有跳转功能，请点击下面的链接</div>
<div id="dwwwhome" align=center><a href="https://report.umessage.com.cn">https://report.umessage.com.cn</a></div>
<script language="javascript">   
Load("https://report.umessage.com.cn"); //要跳转到的页面   
</script>   
</body>   
</html>  
