<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<title>12580数据统计分析系统</title>
<script language="javascript" type="text/javascript" src="/site_media/js/sort.js"></script>
<script type="text/javascript" src="/site_media/js/jquery-1.2.6.pack.js"></script>
<script src="/site_media/js/jquery.scroll.pack.js" type="text/javascript"></script>
<script src="/site_media/js/jquery.easing.js" type="text/javascript"></script>
<script type="text/javascript">
    $(function() {
        $("#toTop").scrollToTop({speed:1200,ease:"easeOutBounce",start:300});
    });
</script>
<script type="text/javascript">
var start_t = new Date().getTime();
var bt = new Date().getTime();
</script>
<link rel="stylesheet" type="text/css" href="/site_media/css/style.css" />
{% if cname %}
{% block extra_css %}
{% endblock extra_css %}

{% block extra_js %}
{% endblock extra_js %}
{% endif %}
<script type="text/javascript">
//initialize page
count = function(s){
    $("#count").text("");
    $("#count").append("数据共："+s+" 条   ");
}

wait = function(){
    $(".waiting").text("")
    $(".submit_button").val("loading")
    $(".submit_button").attr("disabled","disabled")
    $(".waiting").append("数据读取中，请稍候... <img src='/site_media/images/loading.gif'>")
}

is_login = function(){
    $.get("/is_login/",function(text){
        if (text == "is_logout") {
            window.location.replace("/login/")
        }
    });
}

log = function(s) {
    var now = new Date().getTime();
    var cost = now - bt;
    //bt = now;
    //var total_cost = now - start_t;
    $('#logger').append(s+cost/1000+'s  ');

}
log_data = function(b,c){
    $('#logger2').text('');
    var data_end = new Date().getTime();
    var ud = data_end - c;
    $('#logger2').append(b+ud/1000+'s  ');
}
        $(document).ready(function(){
             // --- 隐藏所有
            function HideAll()
            {
                //var items = document.getElementsByClassName("optiton");
                var items = $(".optiton")
                for (var j=0; j<items.length; j++) {
		if (items[j].style.display == "block") {
		$(items[j]).prev("table").find("img").attr("src", "/site_media/images/ico.gif");
		}
                items[j].style.display = "none";
                }
            }

	    $("tr#di").parents("div.optiton").css("display", "block");
	    $("tr#di").parents("div.optiton").prev("table").find("img").attr("src", "/site_media/images/ico2.gif");
            //var items = document.getElementsByClassName("title");
            var items = $(".title")
            for (var j=0; j<items.length; j++) {
                items[j].onclick = function() {
            var o = document.getElementById("opt_" + this.id);
            if (o.style.display != "block") {
             HideAll();
             o.style.display = "block";
	     $(o).prev("table").find("img").attr("src", "/site_media/images/ico2.gif");
            }
            else {
	     $(o).prev("table").find("img").attr("src", "/site_media/images/ico.gif");
             o.style.display = "none";
            }}}
    {% if cname %}
	    {% block document_ready %}
	    {% endblock document_ready %}
    {% endif %}
    log("页面用时：")
            });

</script>
<script type="text/javascript">
    $(function(){  
        $(".hidelogo").click(function(event) {  
            event.preventDefault();
            $("#hd").attr("src",$("#hd").attr("src") == '/site_media/images/ico3.gif' ? '/site_media/images/ico.gif' : '/site_media/images/ico3.gif');
            $(this).attr("title",$(this).attr("title") == '收起' ? '展开' : '收起');
            $("#logo").slideToggle(); 
        });                         
        $("#go_search").click(function() {
            $("#view_search").show();
            $("#manage").hide();
        });
        $("#back_to_manage").click(function() {
            $("#view_search").hide();
            $("#manage").show();
        });
        $("#show_explain").click(function(event){
            event.preventDefault();
            $("#explain").slideToggle();
            return false; 
        });
    });
</script>
<style type="text/css">
.STYLE2 {font-size:16px; text-align:center; color:#000000; font-family: "宋体";}
.left {padding-left:10px; padding-right:15px;}
.zi_hj {font-size:14px; color:#000000; font-family: sans-serif, "arial Unicode MS", "宋体";padding-right:15px; font-weight:500;}
</style>
</head>
<body style="margin: 0px;background-color:#F8F0FB">
<table width="100%" border="0" cellpadding="0" cellspacing="0" >
  <tr>
     <td colspan="2" align="center" background="/site_media/images/bg_1.gif">
        <div id="logo">
            <table width="100%" border="0" cellpadding="0" cellspacing="0">
              <tr>
                <td width="42%" align="left"><img src="/site_media/images/main_01.gif" height="42" /></td>
                <td width="58%" align="right" id="manage"><span><strong>{{ user.username }}</strong></span><strong>&nbsp;</strong>|&nbsp;<a href="/change_pwd/">密码管理</a>&nbsp;|&nbsp;<a href="/site_media/help_v1.0.pdf">操作手册</a>&nbsp;|<span id="go_search">&nbsp;<a href="#">搜索</a>&nbsp;</span>|&nbsp;<a href="/logout/">退出&nbsp; </a>{% if super %}<a href="/admin/">|<font color="red">&nbsp;后台</font></a>{% endif %}</td>
                <td width="58%" align="right" >
                     <div style="display:none;padding-top:10px;padding-right:5px;" id="view_search">
                         <form action="/view_search/" method="POST">
                              <input type="text" name="search_key" />&nbsp;
                              <input type="submit" value="搜索" />&nbsp;
                              <input type="button" value="返回" id="back_to_manage"/>
                         </form>
                     </div>
                 </td>
              </tr>
            </table>
        </div>
        <table width="100%" border="0" cellpadding="0" cellspacing="0" >
          <tr>
            <td class="hidelogo" width="100%" height="6" align="center" bgcolor="#813676" title="收起">
                <a><IMG src="/site_media/images/ico3.gif" width="9" height="9" align=absMiddle id="hd" /></a>
            </td>
          </tr>
        </table>
     </td>
  </tr>
  <tr>
    <td width="18%" valign="top" bgcolor="F8F0FB" style=" padding-left:8px;padding-top:8px;">{% include 'left.html' %}</td>
    <td width="82%" valign="top" bgcolor="F8F0FB" style="background-color:#F8F0FB; padding-left:10px; padding-right:10px;" ><table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF" style="margin-top:8px;height:490px;">
      <tr>
        <td colspan="2" style="border-left:1px #C6C6C6 solid; border-right:1px #C6C6C6 solid;border-top:1px #C6C6C6 solid;{% if cname %}border-bottom:1px #C6C6C6 solid;{% endif %} padding:10px 10px 10px 10px; padding-top:10px;"valign="top">
    	    <div>
                <div style="margin-bottom:10px;">
                    {% if not cname %}
                        <tr>
                            <td colspan="2" valign="middle" style="border-left:1px #C6C6C6 solid;border-bottom:1px #C6C6C6 solid; border-right:1px #C6C6C6 solid; padding:15px; padding-top:0px; height:490px;"><img src="/site_media/images/indexbg1.jpg" width="833" height="269" />
                            </td>
                        </tr>
                    {% else %} 
                        您现在的位置&nbsp;:<span class="z_red">&nbsp;{{cname}}</span>
                        {% if view.0.explain %}
                        <span><a id="show_explain" href="#"><font color="blue"><u>简介</u></font></a></span>
                        <p><span class="explain" id="explain"><font color="red">简介:&nbsp;</font>{{view.0.explain|safe}}</span>
                        {% endif %}
                    {%endif%}
                </div>
    	    {% block main_content %}

    	    {% endblock %}
    	    </div>
        </td>
      </tr>
    </table></td>
  </tr>
</table>
<div id="count" style="float:right;margin-right:20px;"></div>
<div id="logger2" style="float:right;margin-right:20px;"></div>
<div id="logger" style="float:right;margin-right:20px;"></div><br>
<div style="text-align:right;margin-right:20px;margin-bottom:5px;"><font color="gray" >Version : {{version}}</font></div>
<a href="#" id="toTop" style="background: url(/site_media/images/up.png) no-repeat;bottom:5px;cursor:pointer;height:35px;position:fixed;left:10px;width:35px;" title="回到顶端"></a>
</body>
</html>

