<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xml:lang="zh-cn.utf-8" xmlns="http://www.w3.org/1999/xhtml" lang="zh-cn.utf-8">
<head>


<title>12580数据平台管理系统</title>
<link href="/media/css/base.css" type="text/css" rel="stylesheet">
<link href="/media/css/forms.css" type="text/css" rel="stylesheet">
<!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="/media/css/ie.css" /><![endif]-->


<script src="../../../jsi18n/" type="text/javascript"></script>
<script src="/media/js/core.js" type="text/javascript"></script>
<script src="/media/js/admin/RelatedObjectLookups.js" type="text/javascript"></script>
<script src="/media/js/getElementsBySelector.js" type="text/javascript"></script>
<script src="/media/js/actions.js" type="text/javascript"></script>
<script src="/media/js/SelectBox.js" type="text/javascript"></script>
<script src="/media/js/SelectFilter2.js" type="text/javascript"></script>

<meta content="NONE,NOARCHIVE" name="robots">
</head>



<body class="danadict-pid change-form">

<!-- Container -->

<div id="container">

    
    <!-- Header -->
    <div id="header">
        <div id="branding">
            <h1 id="site-name">
                12580数据平台管理系统 (<a href="/show_view/">返回首页</a>)
            </h1>
            
        </div>
        
        <div id="user-tools">
            欢迎，
            <strong>{{ user.username }}</strong>.
            
                
                
                
                
                    <a href="/admin/password_change/">
                
                修改密码</a> /
                
                
                    <a href="/admin/logout/">
                
                注销</a> / 
                <a href="/show_view/">返回首页</a>
            
        </div>
        
        
    </div>
    <!-- END Header -->
    
<div class="breadcrumbs">
     <a href="/admin/">首页</a> ›
     <a href="/admin/danadict/">Danadict</a> › 
     PID批量添加
</div>

    

        

    <!-- Content -->
    <div id="content" class="colM">
        
        <h1>增加 PID</h1>
        <div id="content-main">




<form enctype="multipart/form-data" action="/makepid/" method="post" >
<div>



{% if lu_error or promo_qty_error or prov_error %}
  <p class="errornote">
    {{lu_error}}{{promo_qty_error}}{{prov_error}}
  </p>
{% endif %}
  <fieldset class="module aligned ">
      <div class="form-row"> 
          <div>
          
              <label class="required">
                推广类型:</label>
                <select name="promo_type" >
                    {% for t in p_type.items %}
			        <option value="{{t.0}}">{{t.1}}</option>
                    {% endfor %}
		        </select>
          </div>
      
      </div>
      <div class="form-row"> 
          <div>
              <label class="required">
               产品合作:</label>
               <select name="product_coop" >
			      {% for coop in p_coop.items %}
			        <option value="{{coop.0}}">{{coop.1}}</option>
                  {% endfor %}
		       </select>
          </div>
      </div>
      <div class="form-row"> 
          <div>        
              <label class="required">
                推广渠道:</label>
                <select name="promo_method" >
			        {% for method in p_method.items %}
			        <option value="{{method.0}}">{{method.1}}</option>
                    {% endfor %}
		        </select>
          </div>
      </div>
  
  
      <div class="form-row ">
          <div>     
              <label class="required">原始链接:</label>
              <input name="lu" class="vTextField" type="text">
          </div>
      </div>
      <div class="form-row ">
          <div>     
              <label class="required">推广名称:</label>
              <input name="promo_name" class="vTextField" type="text">
          </div>
      </div>
      <div class="form-row ">
          <div>     
              <label class="required">推广数量:</label>
              <input name="promo_qty" class="vTextField" type="text" value="1">
          </div>
      </div>


<div class="form-row area  ">

      <div>
          <label class="required" for="id_area">选择省:</label>  
          
      <div class="selector">
          <select id="prov" name="provname" multiple style="width:160px;height:160px">
            <option value="000,全国">全国</option>
            <option value="100,北京市">北京市</option>
            <option value="200,广东省">广东省</option>
            <option value="210,上海市">上海市</option>
            <option value="220,天津市">天津市</option>
            <option value="230,重庆市">重庆市</option>
            <option value="240,辽宁省">辽宁省</option>
            <option value="250,江苏省">江苏省</option>
            <option value="270,湖北省">湖北省</option>
            <option value="280,四川省">四川省</option>
            <option value="290,陕西省">陕西省</option>
            <option value="311,河北省">河北省</option>
            <option value="351,山西省">山西省</option>
            <option value="371,河南省">河南省</option>
            <option value="431,吉林省">吉林省</option>
            <option value="451,黑龙江省">黑龙江省</option>
            <option value="471,内蒙古自治区">内蒙古自治区</option>
            <option value="531,山东省">山东省</option>
            <option value="551,安徽省">安徽省</option>
            <option value="571,浙江省">浙江省</option>
            <option value="591,福建省">福建省</option>
            <option value="731,湖南省">湖南省</option>
            <option value="771,广西壮族自治区">广西壮族自治区</option>
            <option value="791,江西省">江西省</option>
            <option value="851,贵州省">贵州省</option>
            <option value="871,云南省">云南省</option>
            <option value="891,西藏自治区">西藏自治区</option>
            <option value="898,海南省">海南省</option>
            <option value="931,甘肃省">甘肃省</option>
            <option value="951,宁夏回族自治区">宁夏回族自治区</option>
            <option value="971,青海省">青海省</option>
            <option value="991,新疆维吾尔自治区">新疆维吾尔自治区</option>
            <option value="854,港澳地区">港澳地区</option>       
        </select>
      </div>
      
      </div>
      
</div>
  
</fieldset>

<div class="submit-row">
    <input value="添加" class="default" name="_save" type="submit">
</div>





<script type="text/javascript">

</script>


</div>
</form></div>

        
        <br class="clear">
    </div>
    <!-- END Content -->

    <div id="footer"></div>
</div>
<!-- END Container -->

</body></html>
