<!--
(('0', '单选框'), ('1', '多选框'), ('2', '时间选择框'), ('3', '文本输入框'))
-->
{% with q.name.value as query_name %}
<style>label{display:block; float:left; width:75px;text-align:right;margin-right:10px;}</style>
<label>{{ q.cname.value }}: </label>
{% ifequal q.type.value "0" %}
    <select name="{{ query_name }}" class="query_input">
      {% for op in q.range %}
      <option value="{{ op }}">{{ op }}</option>
      {% endfor %}
    </select><br>
{% else %}{% ifequal q.type.value "1" %}
<input type="text" readonly value="{% for w in q.range %}{{w}}{%if not forloop.last%},{%endif%}{% endfor %}" id="{{ view.time_type.name }}_{{query_name }}_open" name="{{ query_name }}" autocomplete="off" class="multi_query" />
<div id="pop" style="display:none;">
    <select id="{{ view.time_type.name }}_{{ query_name }}" name="pip_{{view.time_type.name}}" size="20" >
        {% for op in q.range %}
        <option value="{{ op|safe }}">{{ op|safe }}</option>
        {% endfor %}
    </select>
</div>
{% else %}{% ifequal q.type.value "2" %}
<input type="text" name="{{ query_name }}" class="time_query" value="{{time}}" id="{{ view.time_type.name }}_{{ query_name }}" />
{% else %}
<input type="text" name="{{ query_name }}" class="query_input" />
{% endifequal %}{% endifequal %}{% endifequal %}
{% endwith %}
