<!--
(('0', '单选框'), ('1', '多选框'), ('2', '时间选择框'), ('3', '文本输入框'))
-->
{% with q.name.value as query_name %}
<label>{{ q.cname.value }}: </label>
{% ifequal q.type.value "0" %}
    <select name="{{ query_name }}" class="query_input">
      {% for op in q.range %}
      <option value="{{ op }}">{{ op }}</option>
      {% endfor %}
    </select>
{% else %}{% ifequal q.type.value "1" %}
<input type="text" readonly value="{% ifequal query_name 'provname' %}{% for w in q.range %}{{w}}{%if not forloop.last%},{%endif%}{% endfor %}{% endifequal %}" id="{{ view.time_type.name }}_{{query_name }}_open" name="{{ query_name }}" autocomplete="off" class="multi_query"></input>
<div id="pop" style="display:none;">
    <select id="{{ view.time_type.name }}_{{ query_name }}" name="pip_{{view.time_type.name}}" size="20" >
        {% for op in q.range %}
        <option value="{{ op|safe }}">{{ op|safe }}</option>
        {% endfor %}
    </select>
</div>
{% else %}{% ifequal q.type.value "2" %}
<input type="text" name="{{ query_name }}" class="time_query" id="{{ view.time_type.name }}_{{ query_name }}"></input>
{% else %}
<input type="text" name="{{ query_name }}" class="query_input"></input>
{% endifequal %}{% endifequal %}{% endifequal %}
{% endwith %}
